__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
*.cache

/.venv
venv/
/.build-venv
/build
/bin
/.cache

/.idea
/.vscode
.DS_Store
Thumbs.db

/__pycache__
/config

/train/data/
/train/runs/
/train/bgs/
/train/preds/
*.pt

/train/fonts/*.ttf
/train/fonts/*.otf
/train/fonts/*.TTF

/bubbler/models/florence2-*/
